.notice
  - if !Resource.washer_available? and not Message.pending_for?(cookies[:email])
    = form_for :email_form, :url => :letmeknow do |f|
      = f.submit "email me"
      at
      = f.text_field :email, :value => cookies[:email], :placeholder => 'my email address'
      when a washer is available
  - elsif not flash.empty?
    - flash.each do |type, message|
      .message{:class => type}
        = message
%p
  - if !Resource.all_busy?
    %span.click Click
    %span.tap Tap
    a machine below to claim it.
- Resource.all.each do |resource|
  - classes = ['resource', resource.type.slug] + (resource.is_in_use? ? ['busy'] : ['available'])
  - if resource.is_available?
    = link_to resource.email_link, :class => classes do
      = render :partial => 'show', :locals => {:resource => resource}
  - else
    .resource{:class => classes}
      = render :partial => 'show', :locals => {:resource => resource}
