.notice
  - if !Resource.washer_available? and not Message.pending_for?(cookies[:email])
    = form_for :email_form, :url => :letmeknow do |f|
      = f.submit "email me"
      at
      = f.text_field :email, :value => cookies[:email], :placeholder => 'my email address'
      when a washer is available
  - elsif not flash.empty?
    - flash.each do |type, message|
      .message{:class => type}
        = message
%p
  %span.click Click
  %span.tap Tap
  a machine below to claim it.
- Resource.all.each do |resource|
  - classes = ['resource', resource.type.slug] + (resource.is_in_use? ? ['busy'] : ['available'])
  = link_to resource.email_link, :class => classes do
    .name= resource.name
    - if resource.is_available?
      .available
        available
    - else
      .not.available
        will be available in 
      .time{:data => {:time => resource.will_be_available.to_i * 1000}}
        #{distance_of_time_in_words Time.now.utc, resource.will_be_available}

