!!!5
%head
  %title lndr.me
  = stylesheet_link_tag    "application"
  = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Armata'
  = javascript_include_tag "application"
  = favicon_link_tag       "favicon.png"
  %meta{ :name => "viewport", :content => "width = device-width" }
  %meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }
  %link{ :rel => "apple-touch-icon", :href => "apple-touch-icon-57x57.png" }
  %link{ :rel => "apple-touch-icon", :href => "apple-touch-icon-72x72.png", :sizes => '72x72' }
  %link{ :rel => "apple-touch-icon", :href => "apple-touch-icon-114x114.png", :sizes => '114x114' }
  = csrf_meta_tags

%body
  .container
    = yield
    .footer
      lovingly crafted from bits and bytes by
      = link_to "peter sobot", 'http://petersobot.com'
      .separator
      %span.loads
        = pluralize Use.total_loads_of_laundry, 'load'
        of laundry tracked
      .separator
      %span.api
        = link_to 'api', api_path
      %span.github
        = link_to 'github', "http://github.com/psobot/lndry"
